@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&family=Sono:wght@200..800&display=swap');


body {
    font-family: 'Sono', sans-serif;
    color: #006B6C;
    background-color: hsla(180, 9%, 64%, 0.466);
}

h1 {
   
    font-size: 230%;
}

.navbar-custom {
    color: #FFFED0;
    background-color: #006B6C;
    }

    .navbar-custom .navbar-nav .nav-link {
        color: whitesmoke;
      }

.nav-link {
    color: whitesmoke;
}

.navbar-custom ul li {
    color: whitesmoke;
    background-color: #006B6C;
}

.bold-button {
    color: black;
    font-weight: bold;
    background-color: whitesmoke;
    border: 1px solid black;
}

#translate-text {
    color: black;
}

.logo {
    color: whitesmoke;
   font-weight: bold;
 }

 

 .index-row-1 {
    margin-top: 10vh;
 }

 .index-row-1 h1 {
   margin-bottom:10vh;
   font-size: 300%;
 }

 .index-row-1 h2{
    margin-bottom: 5vh;
}

.index-row-2 {
    margin-bottom: 70px;
}



#logo-text{
    padding-right: 20px;
}



.custom-border {
   margin: 25px 35px;
}


.black-and-white {
     filter: grayscale(70%);
}

h2 {
    color: black;
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .text-border {
    padding-left: 25px;
}

p {
    font-size: 1.5rem;
}

.index-row-2  p {
    margin: 20px 20px;
}

.circle-image {
    border-radius: 50%;
}

.image-corner {
    border-radius: 5%;
}

form {
    padding: 25px 25px; 
}

.form-field {
    margin-bottom: 20px;
}

#form-heading {
    font-size: 2rem;
    font-weight: bold;
    margin: 25px 0 40px 0;    
}

#form-text {
    margin: 20px 0 15px 0;
}

/*.cover {
    display: flex
}

/*#cover {
    margin: 0;
    padding: 0;
    position: center;
    height: 400px;
    width: 100%;
   /* background-image: url("../images/chester.jpg");
    background-repeat: no-repeat;
    background-color: #E9C3B0;

}*/

.footer-bottom {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #006B6C;
    color: whitesmoke;
    text-align: center;


    /*background-color: #006B6C;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;*/


}

footer {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}


.icon {
    justify-self: center;    
    text-align: center;
}


.footer-bottom i {
    font-size: 160%;
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 5%;
    color: #FFFED0;
}

#copyright {

    /*float: right;*/
    color: #FFFED0;
    margin: 10px;

}



/*Use below code for cover image?? 
#hero-image {
  height: 600px;
  width: 100%;
  background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png")
  no-repeat center center;

  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  }
  
  

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes hero-zoom {
  from {
   transform: scale(1)
  }
  to {
   transform: scale(1.1);
  }

}

#cover-text, cover-text h2 {
    color: #ffffff;
}

#cover-text {
  font-size: 130%;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;

  width:300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(241, 109, 107, .7);

  bottom: 30px;
  right: 150px;

  position: absolute;
} */
