@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

.navbar-custom {
    background-color: #006B6C;
}

.navbar-custom li {
    color: #FFFED0;

}

h1 {
    font-weight: bold;
    font-size: 230%;
}